
#python packages to install
streamlit #deployment / frontend
pandas #data manipulation

#python packages to install for mysql connection
mysql-connector-python #for linking mysql database with python